body {
    background: #BDBDBD;
}

div {
    box-sizing: border-box;
    padding: 10px;
}

header {
    background: white;
    padding: 10px;
}

header h1{
    margin: 0;
    text-align: center;
}

div.post {
    background: white;
}

div.post img{
    width: 100%;
    padding: 10px;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}

div.post h2,
div.post p {
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}
